.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ui_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerWrapper {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  border-radius: 15px;
  flex: 1;
  background-color: #ffffff;
  margin: 0 auto;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footerWrapper {
  width: 1170px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
